{% extends "base.html" %}
{% block extracss %}
<style type="text/css">
	.form-horizontal .has-feedback .form-control-feedback {
    padding: 10px;
}
</style>
{% endblock %}
{% block content %}
<div class="wrapper">
	<div class="container small-padding" id="main-content">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
				<form id="signupForm" action="{% url 'user_signup' %}" method="POST"  class="form-horizontal">{% csrf_token %}
					<div class="form-group">
						<label class="col-sm-4 control-label" for="username">Username</label>
						<div class="col-sm-8">
							<input type="text" class="form-control" id="username" name="username"/>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-4 control-label" for="phone">Phone</label>
						<div class="col-sm-8">
							<input type="text" class="form-control" id="phone" name="phone"/>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-4 control-label" for="email">Email</label>
						<div class="col-sm-8">
							<input type="text" class="form-control" id="email" name="email"/>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-4 control-label" for="password">Password</label>
						<div class="col-sm-8">
							<input type="password" class="form-control" id="password" name="password"/>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-4 control-label" for="confirm_password">Confirm password</label>
						<div class="col-sm-8">
							<input type="password" class="form-control" id="confirm_password" name="confirm_password"/>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-8 col-sm-offset-4">
							<div class="checkbox">
								<label>
									<input type="checkbox" id="agree" name="agree" value="agree" />Please agree to our policy
								</label>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-9 col-sm-offset-4">
							<button type="submit" class="btn btn-cakemporos" name="signup" value="Sign up">Sign up</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block extrajs %}
	
<script type="text/javascript">
	$( "#signupForm" ).validate( {
				rules: {
					username: {
						required: true,
						minlength: 2
					},
					phone: {
						required: true,
						minlength: 10
					},
					password: {
						required: true,
						minlength: 5
					},
					confirm_password: {
						required: true,
						minlength: 5,
						equalTo: "#password1"
					},
					email: {
						required: true,
						email: true
					},
					agree: "required"
				},
				messages: {
					username: {
						required: "Please enter a username",
						minlength: "Your username must consist of at least 2 characters"
					},
					password: {
						required: "Please provide a password",
						minlength: "Your password must be at least 5 characters long"
					},
					confirm_password: {
						required: "Please provide a password",
						minlength: "Your password must be at least 5 characters long",
						equalTo: "Please enter the same password as above"
					},
					email: "Please enter a valid email address",
					phone: "Please enter a valid phone number",
					agree: "Please accept our policy"
				},
				errorElement: "em",
				errorPlacement: function ( error, element ) {
					// Add the `help-block` class to the error element
					error.addClass( "help-block" );

					// Add `has-feedback` class to the parent div.form-group
					// in order to add icons to inputs
					element.parents( ".col-sm-8" ).addClass( "has-feedback" );

					if ( element.prop( "type" ) === "checkbox" ) {
						error.insertAfter( element.parent( "label" ) );
					} else {
						error.insertAfter( element );
					}

					// Add the span element, if doesn't exists, and apply the icon classes to it.
					if ( !element.next( "span" )[ 0 ] ) {
						$( "<span class='fa fa-times-circle form-control-feedback'></span>" ).insertAfter( element );
					}
				},
				success: function ( label, element ) {
					// Add the span element, if doesn't exists, and apply the icon classes to it.
					if ( !$( element ).next( "span" )[ 0 ] ) {
						$( "<span class='fa fa-check-circle form-control-feedback'></span>" ).insertAfter( $( element ) );
					}
				},
				highlight: function ( element, errorClass, validClass ) {
					$( element ).parents( ".col-sm-8" ).addClass( "has-error" ).removeClass( "has-success" );
					$( element ).next( "span" ).addClass( "fa-times-circle" ).removeClass( "fa-check-circle" );
				},
				unhighlight: function ( element, errorClass, validClass ) {
					$( element ).parents( ".col-sm-8" ).addClass( "has-success" ).removeClass( "has-error" );
					$( element ).next( "span" ).addClass( "fa-check-circle" ).removeClass( "fa-times-circle" );
				}
			} );

</script>
{% endblock %}