{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block content %}
	<div class="wrapper">
    	<div id="main-content">
    		<div class="container">
    			<section>
	    			<div class="page-title text-center">
	    				<h3 class="text-cakemporos"><span>A</span>bout <span>C</span>akemporos</h3>	
	    			</div>
	    			<div class="page-content big-padding">
	    					<p>
	    					”I tried to bake a cake for my mother’s birthday. It took me four hours. It was terrible. I cried for three days.” Imagine going through this every single time you have to get a cake! Luckily, we don’t need to; thanks to the bakeries at our disposal. Go to the shop, order your cake, and bring it back home. But what if we tried to make this simple task much simpler?
	    					</p>
	    					<p>
								At CAKEMPOROS, we aim to bridge the gap between the local bakeries and customers. CAKEMPOROS is Mumbai’s online place to buy wide range of cakes from birthday cakes, anniversary cakes, wedding cakes, printed cakes to even assorted cupcakes and more.
							</p>
	    					<p>
								We list the best bakeries in town based on reviews, experiences, and recommendations. Every category of cake is accurately compared and the best deal is listed for the benefit of our customers.
							</p>
	    					<p>
								<b>Why choose us?</b>  <span class="text-cakemporos"> ‘Emporos’</span> in Greek stands for ‘a way of passage’ and that’s exactly who we are! We are cake curators! We have catalogued a varied range of cakes selected from the best bakers in the city so you don’t have to go through the hassles. 
							</p>
	    					<p>
								<b>What you have to do?</b> Simply select your area, your choice of cake, any special requirements, and VOILA! You have the cake at your doorstep delivered. Gone are the days where you have to go to each bakery,compare prices, pre-order, wait for the cake, and then take it back home! Your cake for your special day is just a couple of clicks away!
							</p>
	    			</div>
    			</section>
    		</div>
    	</div>
    </div>
{% endblock %}