{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
	<div class="wrapper">
    	<div id="main-content">
    		<div class="container">
    			<section>
	    			<div class="page-title text-center">
	    				<h3 class="text-cakemporos"><span>C</span>orporate <span>O</span>rders </h3>	
	    				<p>Knowing how demanding office gets, celebrations are a time where no one would want to tire themselves on selecting cakes!</p>
	    			</div>
	    			<div class="page-content big-padding">
	    				<div class="row">
	    					<div class="col-md-4 text-center">
	    						<i class="fa fa-birthday-cake fa-4x text-froly"></i>
	    						<p style="text-align: center !important"><b>Cake Selection</b><br/> Select from wide range of products.</p>
	    					</div>
	    					<div class="col-md-4 text-center">
	    						<i class="fa fa-bell fa-4x text-froly"></i>
	    						<p style="text-align: center !important"><b>Notification</b><br/> Get easy reminder for your employee's birthday.</p>
	    					</div>
	    					<div class="col-md-4 text-center">
	    						<i class="fa fa-birthday-cake fa-4x text-froly"></i>
	    						<p style="text-align: center !important"><b>Assured Gift</b><br/> Your employee gets birthday gift hamper from us.</p>
	    					</div>
	    				</div>
	    				<div class="row">
	    					<div></div>
	    				</div>
	    			</div>
	    		</section>
    		</div>
    	</div>
    </div>
{% endblock %}