{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
	<div class="wrapper">
    	<div id="main-content">
    		<div class="container">
    			<section>
	    			<div class="page-title text-center">
	    				<h3 class="text-cakemporos"><span>D</span>elivery <span>O</span>f <span>C</span>akes </h3>	
	    			</div>
	    			<div class="page-content big-padding">
	    			<ul>
	    				<li>Delivery of all the products from Cakemporos are done with care, we believe and respect your emotions attached to celebrate the moment. </li>
	    				<li>Customized or double/triple stacked cake deliveries are done through special AC vans.</li>
	    				<li>Every rider of ours are well trained for delivering cakes in rush hours of Mumbai.</li>
	    			</ul>

	    			</div>
	    		</section>
    		</div>
    	</div>
    </div>
{% endblock %}