{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block content %}
	<div class="wrapper">
    	<div id="main-content">
    		<div class="container">
    			<section>
	    			<div class="page-title text-center">
	    				<h3 class="text-cakemporos"><span>P</span>rivacy <span>P</span>olicy</h3>	
	    			</div>
	    			<div class="page-content big-padding">
	    				<h5>SECTION 1 - WHAT DO WE DO WITH YOUR INFORMATION?</h5>
	    				<p style="padding-bottom:30px;">
	    					When you purchase something from our website, as part of the buying and selling process, we collect the personal information you give us such as your name, address and email address.
							When you browse our store, we also automatically receive your computer’s internet protocol (IP) address in order to provide us with information that helps us learn about your browser and operating system.
							Email marketing (if applicable): With your permission, we may send you emails about our store, new products and other updates.
	    				</p>
	    				<h5>SECTION 2 - CONSENT</h5>
	    				<p style="padding-bottom:30px;">
	    					How do you get my consent?<br/>

							When you provide us with personal information to complete a transaction, verify your credit card, place an order, arrange for a delivery or return a purchase, we imply that you consent to our collecting it and using it for that specific reason only.

							If we ask for your personal information for a secondary reason, like marketing, we will either ask you directly for your expressed consent, or provide you with an opportunity to say no.<br/ >
							How do I withdraw my consent?<br/>
							If after you opt-in, you change your mind, you may withdraw your consent for us to contact you, for the continued collection, use or disclosure of your information, at anytime, by contacting us at contact@cakemporos.in.
	    				</p>
	    				<h5>SECTION 3 - DISCLOSURE</h5>
	    				<p style="padding-bottom:30px;">
	    					We may disclose your personal information if we are required by law to do so or if you violate our Terms of Service.
	    				</p>
	    				<h5>SECTION 4 - SECURITY</h5>
	    				<p style="padding-bottom:30px;">
	    					To protect your personal information, we take reasonable precautions and follow industry best practices to make sure it is not inappropriately lost, misused, accessed, disclosed, altered or destroyed.
							If you provide us with your credit card information, the information is encrypted using secure socket layer technology (SSL) and stored with a AES-256 encryption.  Although no method of transmission over the Internet or electronic storage is 100% secure, we follow all PCI-DSS requirements and implement additional generally accepted industry standards.
	    				</p>
	    				<h5>SECTION 5 - AGE OF CONSENT</h5>
	    				<p style="padding-bottom:30px;">
	    					By using this site, you represent that you are at least the age of majority in your state or province of residence, or that you are the age of majority in your state or province of residence and you have given us your consent to allow any of your minor dependents to use this site.
	    				</p>
	    				<h5>SECTION 6 - CHANGES TO THIS PRIVACY POLICY</h5>
	    				<p style="padding-bottom:30px;">
	    					We reserve the right to modify this privacy policy at any time, so please review it frequently. Changes and clarifications will take effect immediately upon their posting on the website. If we make material changes to this policy, we will notify you here that it has been updated, so that you are aware of what information we collect, how we use it, and under what circumstances, if any, we use and/or disclose it.
							If our store is acquired or merged with another company, your information may be transferred to the new owners so that we may continue to sell products to you.
	    				</p>
	    			</div>
    			</section>
    		</div>
    	</div>
    </div>
{% endblock %}