        <a href="{% url 'mybaker_dashboard' %}" class="logo">
          <!-- mini logo for sidebar mini 50x50 pixels -->
          <span class="logo-mini"><b>CE</b> Dashboard</span>
          <!-- logo for regular state and mobile devices -->
          <span class="logo-lg"><b>CE</b> DASHBOARD</span>
        </a>
        <nav class="navbar navbar-static-top" role="navigation">
          <!-- Sidebar toggle button-->
          <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
          </a>
          <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
              <!-- Messages: style can be found in dropdown.less-->
              <li></li>
              
              <!-- Notifications: style can be found in dropdown.less -->
              <li class="dropdown notifications-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-bell-o"></i>
                  <span class="label label-warning">10</span>
                </a>
                <ul class="dropdown-menu">
                  <li class="header">You have 10 notifications</li>
                  <li>
                    <!-- inner menu: contains the actual data -->
                    <ul class="menu">
                      <li>
                        <a href="#">
                          <i class="fa fa-users text-aqua"></i> 5 new members joined today
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <i class="fa fa-warning text-yellow"></i> Very long description here that may not fit into the page and may cause design problems
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <i class="fa fa-users text-red"></i> 5 new members joined
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <i class="fa fa-shopping-cart text-green"></i> 25 sales made
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <i class="fa fa-user text-red"></i> You changed your username
                        </a>
                      </li>
                    </ul>
                  </li>
                  <li class="footer"><a href="#">View all</a></li>
                </ul>
              </li>
              <!-- Tasks: style can be found in dropdown.less -->
              <!-- User Account: style can be found in dropdown.less -->
              <li></li>
              <li class="dropdown user user-menu">
                  
                  <a href="#" target="blank" class="dropdown-toggle" data-toggle="dropdown">
                  <img src="http://placehold.it/160x160" class="user-image" alt="User Image">
                  <span class="hidden-xs">Visit Store</span>
                </a>
                <ul class="dropdown-menu">
                  <!-- User image -->

                  <!-- Menu Body -->
                  <li class="user-body bg-teal">
                    <div class="col-xs-4 text-center">
                      <a href="#">Products</a><br/>
                      <b>{{ get_products_count }}</b>
                    </div>
                    <div class="col-xs-4 text-center">
                      <a href="#">Orders</a><br/>
                      <b>{{ get_orders_count }}</b>
                    </div>
                    <div class="col-xs-4 text-center">
                      <a href="#">Sales</a><br/>
                      <b>&#8377;&nbsp;{{ get_total_sales|floatformat:"0" }}</b>
                    </div>

                  </li>
                  <!-- Menu Footer-->
                  <li class="user-footer">
                    <div class="pull-left">
                      <a href="" class="btn btn-default btn-flat">Visit Site</a>
                    </div>
                    <div class="pull-right">
                      <a href="{% url 'mybaker_logout' %}" class="btn btn-default btn-flat">Sign out</a>
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </nav>