{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'bootstrap/bootstrap.css' %}">
	
	<!-- JqueryUI -->
	<!-- <link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" media="all" /> -->
	<!-- Select2 -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
	<link rel="stylesheet" href="{% static 'store/css/select2-bootstrap.min.css' %}">
	<!-- Datepicker -->
	<link rel="stylesheet" type="text/css" href="{% static 'store/plugins/datepicker/datepicker3.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'store/plugins/datetimepicker/css/bootstrap-datetimepicker.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'store/plugins/timepicker/jquery.timepicker.css' %}">
	<!-- own carousel -->
	<link rel="stylesheet" type="text/css" href="{% static 'store/plugins/owlcarousel/assets/owl.carousel.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'store/plugins/owlcarousel/assets/owl.theme.default.min.css' %}">
	<!-- iCheck -->
	<link rel="stylesheet" type="text/css" href="{% static 'store/plugins/iCheck/square/yellow.css' %}">
	
	<link rel="stylesheet" href="{% static 'store/css/mytheme.css' %}">

	